<extend name="Public/member" />
<!-- 用户一进到的中心内容 下面可以替换 -->
<block name="mainright">

</block>

<block name="mainright">
	<div class="user_main_middle">
		<!--发表心情-->
		<div class="mood-post-box">
			<div class="mood-post-content">
				<textarea class="mood-textarea" id="mood_content" name="mood_content">记录每一天的心情...</textarea>
				  <div class="mood-box-block">
					<div class="fl" style="position:relative;">
					  <a href="###"><img src="__PUBLIC__/images/eif.gif" style="padding-bottom:3px;">表情</a>
					  <div id="display-eif"></div>
					</div>
					<div class="fr">
						<div id="post_limit" class="fl" style="padding-top:5px;">还能输入<span id="counter">140</span>字</div>
						<div class="mood-post-button"><img src="__PUBLIC__/images/button-mood.gif"></div>
						<div class="mood-post-cancel"><a href="###" >取消</a></div>
					</div>
					<div class="clear"></div>
				  </div>
			</div>
		</div>
        <!-- 心情框结束 -->
		<!--//mood-post-form End-->


		<!--TAB Begin-->
		<div class="tab_list">
			<div class="tab_nv">
				<ul>
				  <li class="tab_item current"><a href="javascript:void(0);">随便看看</a></li>
				  <li class="tab_item"><a href="javascript:void(0);">我的心情</a></li>
				  <li class="tab_item"><a href="javascript:void(0);">好友心情</a></li>
				</ul>
			</div>
		</div>
		<!--TAB End-->

		<div class="user-md-weibo">
			<div class="user-md-trends">
				<div class="user_trends_left"><img src="__PUBLIC__/images/avatar_big_004.jpg" border="0" height="69" width="60"></div>
				<div class="user_trends_right">
					<a href="javascript:void(0);" target="_blank">我本善良</a>
					<span class="trends_fs">- 
					  22岁 
					  北京 
					  朝阳
					</span>
					<div class="quote-box">
						<div class="feed-box">
						  <p>我想找一个踏实.顾家.有追求的。你是我想要的吗？</p>
						</div>
					</div>
					<div class="trends_pj">
						<span>06-18 18:38</span>
						<a href="###" >发信件</a>
						<a href="###" >打招呼</a>
						<a href="###" >送礼物</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="user-md-trends">
				<div class="user_trends_left"><img src="__PUBLIC__/images/male.gif" border="0" height="69" width="60"></div>
				<div class="user_trends_right">
					<a href="javascript:void(0);" target="_blank">有缘</a>
					<span class="trends_fs">- 
					21岁 
					北京 
					昌平
					</span>
					<div class="quote-box">
						<div class="feed-box">
						  <p>看好机会</p>
						</div>
					</div>
					<div class="trends_pj">
						<span>06-17 21:59</span>
						<a href="###" >发信件</a>
						<a href="###" >打招呼</a>
						<a href="###" >送礼物</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>

		</div>
	  	<div class="nav-tips" style="text-align:center;">
			<a href="javascript:void(0);">查看更多心情</a>
		</div>
	
	</div>
	<!--//user-md-weibo End-->

	
  </div>
  <!--//user_main_middle End-->

	  <!--右边 Begin-->
	  <div class="user_main_right">
			

	  </div>
</block>

