<form id="pagerForm" action="__URL__/index" method="post">
	<input type="hidden" name="pageNum" value="{$currentPage|default='1'}" />
	<input type="hidden" name="numPerPage" value="{$numPerPage}" /><!--每页显示多少条-->
	<input type="hidden" name="_order" value="{$Think.request._order}"/>
	<input type="hidden" name="_sort" value="{$Think.request._sort}"/>
</form>
<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" method="post">
	<input type="hidden" name="numPerPage" value="{$numPerPage}" /><!--每页显示多少条-->
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td colspan="2">
					<b>搜索</b> &nbsp; 关键字：<input type="text" name="title" value="{$Think.post.title}" />
				</td>
			</tr>
		</table>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li class="line">line</li>
			<li><a class="icon"  href="javascript:navTabPageBreak()"><span>刷新</span></a></li>
			<!--<li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targetType="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>-->
		</ul>
	</div>
	<table class="table" width="100%" layoutH="138">
		<thead>
			<tr>
				<th width="20">ID</th>
				<th width="40">昵称/用户名</th>
				<th width="30">性 别要求</th>
				<th width="60">年 龄要求</th>
				<th width="60">身 高要求</th>
				<th width="40">所在城市要求</th>
				<th width="40">婚 史要求</th>
				<th width="40">交友类型要求</th>
				<th width="40">学历要求</th>
				<th width="40">是否有形象照</th>
			</tr>
		</thead>
		<tbody>
		<volist name="list" id="vo">
			<tr target="sid_user" rel="1">
				<td>{$vo.userid}</td>
				<td>{$vo.name}</td>
				<td>{$vo.sex}</td>
				<td><if condition="$vo.age neq null">{$vo.age.0}-{$vo.age.1}岁<else/>不限</if></td>
				<td><if condition="$vo.weight neq null">{$vo.weight.0}-{$vo.weight.1}CM<else/>不限</if></td>
				<td>{$vo.sheng} {$vo.shi}</td>
				<td>{$vo.hunshi} {$vo.hunshi2}</td>
				<td>{$vo.jiaoyou} {$vo.leixing}</td>
				<td><if condition="$vo.xueli neq null">{$vo.xueli}-{$vo.xueli2}</if></td>
				<td><if condition="$vo.ishead eq 1">有形象照<else/>无</if></td>
			</tr>
		</volist>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({$Think.config.TMPL_L_DELIM}numPerPage:this.value{$Think.config.TMPL_R_DELIM})">
				<option value="10" <if condition="$numPerPage eq 10">selected</if>>10</option>
				<option value="15" <if condition="$numPerPage eq 15">selected</if>>15</option>
				<option value="20" <if condition="$numPerPage eq 20">selected</if>>20</option>
				<option value="25" <if condition="$numPerPage eq 25">selected</if>>25</option>
				<option value="30" <if condition="$numPerPage eq 30">selected</if>>30</option>
			</select>
			<span>共{$totalCount}条</span>
		</div>
		<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
	</div>
</div>