<extend name="Public/base" />
<block name="maincontent">
 <div class="ce member">
    <include file="Public:search"/>
    <div class="left blog">

      <div class="ad">
        <div class="leftad">
	    	    	    <a><img src="__PUBLIC__/images/abc42bd94ed9d3a1.gif" title="" border="0" height="225" width="270"></a>
	    	    	    	    <a><img src="__PUBLIC__/images/53d6a915f484f50a.gif" title="" border="0" height="65" width="270"></a>
	    		</div>
        <div class="le2">
		  

          <div class="elite">
		    			          </div>

          <ul class="rzul">
		    			 <li><a href="#"><span> ▪ </span>真诚交友</a></li>
			            <li><a href="#"><span> ▪ </span>找个男朋友</a></li>
			            <li><a href="#"><span> ▪ </span>恋爱结婚</a></li>
			            <li><a href="#"><span> ▪ </span>Han</a></li>
			            <li><a href="#"><span> ▪ </span>易缘1314</a></li>
			            <li><a href="#"><span> ▪ </span>缘份天空</a></li>
			            <div style="clear:both"></div>
          </ul>
          <div class="rztu">
		    			          </div>
          <span class="neww"> <img src="__PUBLIC__/images/new_diary.png"></span> </div>
        <div style="clear:both"></div>
      </div>

      <div class="aa">
        <div class="a1">
          <h2>
            <div>⿻ <a href="#" target="_blank">婚恋课堂</a></div>
            <a href="#" class="mo" target="_blank">更多&gt;&gt;</a>
		  </h2>
          <ul>
		    			            <li><a href="#" target="_blank"><span> ▪ </span>对婚姻、感情的一点认识</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>希望在北京找个合适的男朋友</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>聘男友</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>远远地。</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>爱，不轻易牵手；牵手了，就不要轻易放手</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>爱的定义</a></li>
			            <div style="clear:both"></div>
          </ul>
        </div>
        <div class="a2">
          <h2>
            <div>⿻ <a href="#" target="_blank">爱情故事</a></div>
            <a href="#" class="mo" target="_blank">更多&gt;&gt;</a></h2>
          <ul>
		    			            <li><a href="#" target="_blank"><span> ▪ </span>易缘1314</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>缘份天空</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>我的个人资料</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>什么是爱...</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>找对象一名</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>幸福在哪里？</a></li>
			            <div style="clear:both"></div>
          </ul>
        </div>
        <div class="a1">
          <h2>
            <div>⿻ <a href="#" target="_blank">两性私语</a></div>
            <a href="#" class="mo" target="_blank">更多&gt;&gt;</a></h2>
          <ul>
		    			            <li><a href="#" target="_blank"><span> ▪ </span>xunmi 情人</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>找西安女性</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>很高兴  认识你   就四就四二四溜溜衣  企鹅   欢迎加我</a></li>
			            <div style="clear:both"></div>
          </ul>
        </div>
        <div class="a2">
          <h2>
            <div>⿻ <a href="#" target="_blank">情感物语</a></div>
            <a href="#" class="mo" target="_blank">更多&gt;&gt;</a></h2>
          <ul>
		    			            <li><a href="#" target="_blank"><span> ▪ </span>真诚交友</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>恋爱结婚</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>我的内心独白</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>爱，就是这样</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>好姑娘都去哪里了？不到为什么我遇不到</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>请加我扣扣</a></li>
			            <div style="clear:both"></div>
          </ul>
        </div>
        <div class="a1">
          <h2>
            <div>⿻ <a href="#" target="_blank">生活点滴</a></div>
            <a href="#" class="mo" target="_blank">更多&gt;&gt;</a></h2>
          <ul>
		    			            <li><a href="#" target="_blank"><span> ▪ </span>西安的交通好拥挤</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>希望找个人来陪</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>日照</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>青岛</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>日子</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>real me</a></li>
			            <div style="clear:both"></div>
          </ul>
        </div>
        <div class="a2">
          <h2>
            <div>⿻ <a href="#" target="_blank">文学随笔</a></div>
            <a href="#" class="mo" target="_blank">更多&gt;&gt;</a></h2>
          <ul>
		    			            <li><a href="#" target="_blank"><span> ▪ </span>请各种托和骗子远离、不要靠近我</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>我的那个她你在哪？</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>蛮不爽的</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>除夕之前</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>挪威的森林</a></li>
			            <li><a href="#" target="_blank"><span> ▪ </span>天馬行空</a></li>
			            <div style="clear:both"></div>
          </ul>
        </div>
      </div>
    </div>

    <div class="right">
      <h2>猜你喜欢</h2>
	  	        <div class="iemg"> <a href="#" target="_blank"><img src="__PUBLIC__/images/avatar_big_005.jpg" border="0" height="96" width="80"></a>
        <img src="__PUBLIC__/images/87197a0d51022068.gif" class="" border="0"><a href="#" title="缘份未定" target="_blank">缘份未定</a><br>
        21岁  浙江
	  </div>
	        <div class="iemg"> <a href="#" target="_blank"><img src="__PUBLIC__/images/avatar_big.jpg" border="0" height="96" width="80"></a>
        <img src="__PUBLIC__/images/87197a0d51022068.gif" class="" border="0"><a href="#" title="彤彤" target="_blank">彤彤</a><br>
        24岁  云南
	  </div>
	        <div class="iemg"> <a href="#" target="_blank"><img src="__PUBLIC__/images/female.gif" border="0" height="96" width="80"></a>
        <img src="__PUBLIC__/images/87197a0d51022068.gif" class="" border="0"><a href="#" title="张丽娜" target="_blank">张丽娜</a><br>
        26岁  重庆
	  </div>
	        <div class="iemg"> <a href="#" target="_blank"><img src="__PUBLIC__/images/female.gif" border="0" height="96" width="80"></a>
        <img src="__PUBLIC__/images/87197a0d51022068.gif" class="" border="0"><a href="#" title="hjhjhhj" target="_blank">hjhjhhj</a><br>
        19岁  吉林
	  </div>
	        <div class="iemg"> <a href="#" target="_blank"><img src="__PUBLIC__/images/avatar_big_002.jpg" border="0" height="96" width="80"></a>
        <img src="__PUBLIC__/images/87197a0d51022068.gif" class="" border="0"><a href="#" title="流浪的蒲公英" target="_blank">流浪的蒲公英</a><br>
        40岁  山东
	  </div>
	        <div class="iemg"> <a href="#" target="_blank"><img src="__PUBLIC__/images/female.gif" border="0" height="96" width="80"></a>
        <img src="__PUBLIC__/images/87197a0d51022068.gif" class="" border="0"><a href="#" title="乔尹" target="_blank">乔尹</a><br>
        33岁  广东
	  </div>
	        <div class="iemg"> <a href="#" target="_blank"><img src="__PUBLIC__/images/avatar_big_003.jpg" border="0" height="96" width="80"></a>
        <img src="__PUBLIC__/images/87197a0d51022068.gif" class="" border="0"><a href="#" title="womenflower" target="_blank">womenflower</a><br>
        29岁  四川
	  </div>
	        <div class="iemg"> <a href="#" target="_blank"><img src="__PUBLIC__/images/female.gif" border="0" height="96" width="80"></a>
        <img src="__PUBLIC__/images/87197a0d51022068.gif" class="" border="0"><a href="#" title="呦呦" target="_blank">呦呦</a><br>
        26岁  上海
	  </div>
	        <div class="iemg"> <a href="#" target="_blank"><img src="__PUBLIC__/images/avatar_big_004.jpg" border="0" height="96" width="80"></a>
        <img src="__PUBLIC__/images/87197a0d51022068.gif" class="" border="0"><a href="#" title="abc123冰雪_" target="_blank">abc123冰雪_</a><br>
        30岁  河南
	  </div>
	        <div style="clear:both;"></div>
      <h2 style="margin-top:5px;">最新日记</h2>
      <ul class="list_blog">
	    		        <li><a target="_blank" href="http://www.yyw1314.com/diary/135.html" title="真诚交友">真诚交友 </a> </li>
		        <li><a target="_blank" href="http://www.yyw1314.com/diary/134.html" title="找个男朋友">找个男朋友 </a> </li>
		        <li><a target="_blank" href="http://www.yyw1314.com/diary/133.html" title="恋爱结婚">恋爱结婚 </a> </li>
		        <li><a target="_blank" href="http://www.yyw1314.com/diary/130.html" title="Han">Han </a> </li>
		        <li><a target="_blank" href="http://www.yyw1314.com/diary/129.html" title="易缘1314">易缘1314 </a> </li>
		        <li><a target="_blank" href="http://www.yyw1314.com/diary/128.html" title="缘份天空">缘份天空 </a> </li>
		        <li><a target="_blank" href="http://www.yyw1314.com/diary/127.html" title="寻找知己      知心">寻找知己      知心 </a> </li>
		        <li><a target="_blank" href="http://www.yyw1314.com/diary/126.html" title="请各种托和骗子远离、不要靠近我">请各种托和骗子远离、不要靠近我 </a> </li>
		        <li><a target="_blank" href="http://www.yyw1314.com/diary/125.html" title="我的那个她你在哪？">我的那个她你在哪？ </a> </li>
		        <li><a target="_blank" href="http://www.yyw1314.com/diary/124.html" title="对婚姻、感情的一点认识">对婚姻、感情的一点认识 </a> </li>
		        <li><a target="_blank" href="http://www.yyw1314.com/diary/123.html" title="xunmi 情人">xunmi 情人 </a> </li>
		        <li><a target="_blank" href="http://www.yyw1314.com/diary/122.html" title="西安的交通好拥挤">西安的交通好拥挤 </a> </li>
		        <li><a target="_blank" href="http://www.yyw1314.com/diary/121.html" title="希望找个人来陪">希望找个人来陪 </a> </li>
		        <li><a target="_blank" href="http://www.yyw1314.com/diary/120.html" title="真假难辨">真假难辨 </a> </li>
		        <li><a target="_blank" href="http://www.yyw1314.com/diary/119.html" title="寻找心仪女孩，相伴一生">寻找心仪女孩，相伴一生 </a> </li>
		      </ul>
    </div>
    <div style="clear:both;"></div>
  </div>
</block>