
<div class="pageContent">
	<form method="post" action="__URL__/insert/navTabId/listnotice/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,navTabAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<div class="pageFormContent" layoutH="60">
			<dl>
				<dt>公告标题：</dt>
				<dd><input type="text" style="width:100%" name="title" class="required"/></dd>
			</dl>
			
			<dl style="width:100%;">
				<dt>公告类型：</dt>
				<dd>
					<select name="type" class="required">
						<option value="">=请选择=</option>
						<volist name="list" id="vo">
							<option value="{$vo['typeid']}">{$vo['typename']}</option>
						</volist>
					</select>
				</dd>
			</dl>
			
			     
			<dl>
				<dt>公告内容：</dt>
				<dd>
					<textarea name="content" class="editor" cols="77" rows="15" minlength="300">
					
					</textarea>
				</dd>
			</dl>

		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">发布</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

