<form id="pagerForm" action="__URL__/index" method="post">
	<input type="hidden" name="pageNum" value="{$currentPage|default='1'}" />
	<input type="hidden" name="numPerPage" value="{$numPerPage}" /><!--每页显示多少条-->
	<input type="hidden" name="_order" value="{$Think.request._order}"/>
	<input type="hidden" name="_sort" value="{$Think.request._sort}"/>
</form>
<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" method="post">
	<input type="hidden" name="numPerPage" value="{$numPerPage}" /><!--每页显示多少条-->
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td colspan="2">
					<b>搜索</b> &nbsp; 关键字：<input type="text" name="title" value="{$Think.post.title}" /> [标题]
						&nbsp;&nbsp;审核：<select name='status'>
											<option value=''>请选择</option>
											<option value='1' <if condition="$Think.post.status eq 1">selected</if> >未审核</option>
											<option value='2' <if condition="$Think.post.status eq 2">selected</if> >已审核</option>
										  </select>
						&nbsp;&nbsp;分类：<select name='catid'>
											<option value=''>请选择</option>
											<option value='1' <if condition="$Think.post.catid eq 1">selected</if> >婚恋课堂</option>
											<option value='2' <if condition="$Think.post.catid eq 2">selected</if> >爱情故事</option>
											<option value='3' <if condition="$Think.post.catid eq 3">selected</if> >两性私语</option>
											<option value='4' <if condition="$Think.post.catid eq 4">selected</if> >情感物语</option>
											<option value='5' <if condition="$Think.post.catid eq 5">selected</if> >生活点滴</option>
											<option value='6' <if condition="$Think.post.catid eq 6">selected</if> >文学随笔</option>
											<option value='7' <if condition="$Think.post.catid eq 7">selected</if> >其他日志</option>
										  </select>
				</td>
				<td>
				发表时间：<input type="text" name="starttime" class="date" dateFmt="yyyy-MM-dd HH:mm:ss" readonly="true" value="{$Think.post.starttime}" />
							&nbsp;~&nbsp;
						   <input type="text" name="endtime" class="date" dateFmt="yyyy-MM-dd HH:mm:ss" readonly="true" value="{$Think.post.endtime}" />
				</td>
				<td>
					<div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div>
				</td>
			</tr>
		</table>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="delete" href="__URL__/del/id/{$Think.config.TMPL_L_DELIM}item_id{$Think.config.TMPL_R_DELIM}/navTabId/listdiary" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
			<li><a class="edit" href="__URL__/edit/id/{$Think.config.TMPL_L_DELIM}item_id{$Think.config.TMPL_R_DELIM}"  width="550" height="380" target="navTab"><span>修改</span></a></li>
			<li class="line">line</li>
			<li><a class="icon"  href="javascript:navTabPageBreak()"><span>刷新</span></a></li>
			<!--<li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targetType="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>-->
		</ul>
	</div>
	<table class="table" width="100%" layoutH="112">
		<thead>
			<tr>
				<th width="40">日记id</th>
				<th width="80">会员名</th>
				<th width="60">分类</th>
				<th width="200">标题</th>
				<th width="80">状态</th>
				<th width="50" orderField="views" <if condition="$Think.request._order eq 'views'">class="{$Think.request._sort}"</if>>浏览</th>
				<th width="50">评论</th>
				<th width="80" orderField="addtime" <if condition="$Think.request._order eq 'addtime'">class="{$Think.request._sort}"</if>>发表时间</th>
			</tr>
		</thead>
		<tbody>
			<volist name="list" id="diary">
				<tr target="item_id" rel="{$diary.id}">
					<td>{$diary.id}</td>
					<td>{$diary.userid}</td>
					<td>{$diary.catid}</td>
					<td>{$diary.title}</td>
					<td>
						<a href='__URL__/editStatus/id/{$diary.id}/status/{$diary.status}/navTagId/listdiary' target="ajaxTodo">
						<if condition="$diary.status eq 2">
							<img src='__PUBLIC__/images/yes.gif'/>
						<else/>
							<img src='__PUBLIC__/images/no.gif'/>
						</if>
						</a>
						<if condition="$diary.status eq 2">已审核<else/>未审核</if>
					</td>
					<td>{$diary.views}</td>
					<td>{$diary.comments}</td>
					<td>{$diary.addtime|date='Y-m-d H:i:s',###}</td>
					<!--<td>{$vo.sex} &nbsp;&nbsp;&nbsp;<a href="__URL__/editsex/id/{$vo.id}/sex/{$vo.sex}/navTabId/liststu" target="ajaxTodo">修改性别</a></td>-->
				</tr>
			</volist>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({$Think.config.TMPL_L_DELIM}numPerPage:this.value{$Think.config.TMPL_R_DELIM})">
				<option value="10" <if condition="$numPerPage eq 10">selected</if>>10</option>
				<option value="15" <if condition="$numPerPage eq 15">selected</if>>15</option>
				<option value="20" <if condition="$numPerPage eq 20">selected</if>>20</option>
				<option value="25" <if condition="$numPerPage eq 25">selected</if>>25</option>
				<option value="30" <if condition="$numPerPage eq 30">selected</if>>30</option>
			</select>
			<span>共{$totalCount}条</span>
		</div>
		<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
	</div>
</div>