<form id="pagerForm" action="__URL__/index" method="post">
	<input type="hidden" name="pageNum" value="{$currentPage|default='1'}" />
	<input type="hidden" name="numPerPage" value="{$numPerPage}" /><!--每页显示多少条-->
	<input type="hidden" name="_order" value="{$Think.request._order}"/>
	<input type="hidden" name="_sort" value="{$Think.request._sort}"/>
</form>
<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" method="post">
	<input type="hidden" name="numPerPage" value="{$numPerPage}" /><!--每页显示多少条-->
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					<b>搜索</b>
						&nbsp;&nbsp;状态：<select name='status'>
											<option value=''>请选择</option>
											<option value='1' <if condition="$Think.post.status eq 1">selected</if> >未读</option>
											<option value='2' <if condition="$Think.post.status eq 2">selected</if> >已读</option>
										  </select>
				</td>
				<td>
				发表时间：<input type="text" name="starttime" class="date" dateFmt="yyyy-MM-dd HH:mm:ss" readonly="true" value="{$Think.post.starttime}" />
							&nbsp;~&nbsp;
						   <input type="text" name="endtime" class="date" dateFmt="yyyy-MM-dd HH:mm:ss" readonly="true" value="{$Think.post.endtime}" />
				</td>
				<td>
					<div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div>
				</td>
			</tr>
		</table>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="delete" href="__URL__/del/id/{$Think.config.TMPL_L_DELIM}item_id{$Think.config.TMPL_R_DELIM}/navTabId/listdiary" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
			<li class="line">line</li>
			<li><a class="icon"  href="javascript:navTabPageBreak()"><span>刷新</span></a></li>
			<!--<li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targetType="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>-->
		</ul>
	</div>
	<table class="table" width="100%" layoutH="112">
		<thead>
			<tr>
				<th width="30">ID</th>
				<th width="40">发送者</th>
				<th width="40">接收者</th>
				<th width="200">问候语</th>
				<th width="40">状态</th>
				<th width="40">发送者操作</th>
				<th width="40">接收者操作</th>
				<th width="60" orderField="addtime" <if condition="$Think.request._order eq 'addtime'">class="{$Think.request._sort}"</if>>发表时间</th>
			</tr>
		</thead>
		<tbody>
			<volist name="list" id="hibox">
				<tr target="item_id" rel="{$hibox.id}">
					<td>{$hibox.id}</td>
					<td>{$hibox.fromuserid}</td>
					<td>{$hibox.touserid}</td>
					<td>{$hibox.greetid}</td>
					<td><if condition="$hibox.status eq 2">已读<else/>未读</if></td>
					<td><if condition="$hibox.status eq 1">未删除<else/>已删除</if></td>
					<td><if condition="$hibox.status eq 1">未删除<else/>已删除</if></td>
					<td>{$hibox.addtime|date='Y-m-d H:i:s',###}</td>
					<!--<td>{$vo.sex} &nbsp;&nbsp;&nbsp;<a href="__URL__/editsex/id/{$vo.id}/sex/{$vo.sex}/navTabId/liststu" target="ajaxTodo">修改性别</a></td>-->
				</tr>
			</volist>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({$Think.config.TMPL_L_DELIM}numPerPage:this.value{$Think.config.TMPL_R_DELIM})">
				<option value="10" <if condition="$numPerPage eq 10">selected</if>>10</option>
				<option value="15" <if condition="$numPerPage eq 15">selected</if>>15</option>
				<option value="20" <if condition="$numPerPage eq 20">selected</if>>20</option>
				<option value="25" <if condition="$numPerPage eq 25">selected</if>>25</option>
				<option value="30" <if condition="$numPerPage eq 30">selected</if>>30</option>
			</select>
			<span>共{$totalCount}条</span>
		</div>
		<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
	</div>
</div>